[submodule "Natsurainko.FluentCore"]
	path = Natsurainko.FluentCore
	url = https://github.com/Xcube-Studio/Natsurainko.FluentCore.git
[submodule "FluentLauncher.Infra.ExtensionHost"]
	path = FluentLauncher.Infra.ExtensionHost
	url = https://github.com/Xcube-Studio/FluentLauncher.Infra.ExtensionHost.git
