<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="26553XcubeStudio.Natsurianko.FluentLauncher"
    Publisher="CN=053EFB0E-6705-4A11-94B9-980C4C9E0047"
    Version="2.1.20.0" />

  <Properties>
    <DisplayName>Natsurianko.FluentLauncher</DisplayName>
    <PublisherDisplayName>Xcube Studio</PublisherDisplayName>
    <Logo>Assets\PackageIcons\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US"/>
    <Resource Language="zh-CN"/>
	<Resource Language="zh-TW"/>
	<Resource Language="ru-RU"/>
  </Resources>
	
  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Fluent Launcher"
        Description="Natsurainko.FluentLauncher"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\PackageIcons\Square150x150Logo.png"
        Square44x44Logo="Assets\PackageIcons\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\PackageIcons\Wide310x150Logo.png"  Square71x71Logo="Assets\PackageIcons\SmallTile.png" Square310x310Logo="Assets\PackageIcons\LargeTile.png" ShortName="Fluent Launcher"/>
        <uap:SplashScreen Image="Assets\PackageIcons\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
